
.container{
    background-image: url(../pics/p2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 104vh;
    position: absolute;

}

.box{
    position: absolute;
    width: 100%;
    text-align: left;
    bottom: 38%;
    height: 37%;
}
.box .text{
    padding: 50px;
    margin-left: 41px;
}
.box .text h2{
    font-size: 30px;

}
.box .text h4{
    font-size: 20px;
    color: grey;

}

.box img{
    width: 180px;
    position: absolute;
    bottom: 227px;
    left: 55px;
    border-radius: 50%;
}

.settings{
    position: absolute;
    background: white;
    width: 100%;
    height: 50%;
    top: 62%;
}
.settings .set h2 {
    font-size: 34px;
    margin-left: -49px;
}
.settings .title{
    display: flex;
    padding: 15px;
    font-size: 23px;
    position: absolute;
    left: 149px;
    top: 261px;
}
.settings .sett{
    height: 0;
    position: absolute;
    top: 53px;
    left: -25px;
}
.settings .arw{
    height: 0;
    position: absolute;
    top: 53px;
    right: -25px;
    cursor: pointer;
}
.settings .content{
    left: 65px;
    position: relative;
    color: #2196f3;

}
.history_2 {
    position: relative;
    left: 71%;
    top: 65%;
    display: flex;
}
.settings .content i{
    padding-top: 11px;
    height: 0;
    position: absolute;
    left: -77px;
    cursor: pointer;

}
.settings .his{
    height: 0;
    position: absolute;
    top: 53px;
    left: -55px;
}
.history .title_h {
    font-size: 26px;
    display: flex;
    margin-left: -11px;
}
.settings .set {
    margin-left: 170px;
}

.settings .arr{
    height: 0;
    position: absolute;
    top: 53px;
    right: -25px;
    cursor: pointer;
}
.settings .content_h{
    left: 41px;
    position: relative;
    color: #2196f3;

}
.history_2 .history .title_h i{
    margin-top: 39px;
}
.settings .set h2:hover {
    color: #2196f3;
}