* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Cairo", sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
     margin-right: -117px;
     padding-left: 10px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .header {
    position: absolute;
    z-index: 2;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
  }
  .header .container .logo img {
    width: 70px;
    height: 70px;
  }
  .header .container .logo span {
    color: white;
    margin-left: -39px;
    font-size: 22px;
    font-family: Hungtrey Beatmora;
  }
  .header ul {
    display: flex;
  }
  .header ul >li {
    margin-top: 39px;
    margin-left: 20px;
  }
  .header ul > li:not(:last-child) a{
    color: white;
    font-size: 30px;
    margin-left: 105px;
  }
  .header ul > li > .signin {
    color: black;
    background-color: #FCF6DA;
    position: absolute;
    margin-left: 94px;
    font-size: 35px;
    padding: 10px;
    margin-top: -10px;
    border-radius: 27px;
    width: 129px;
  }
  .header ul > li > .signin:hover  {
     color: #F8AC54;
  }
  .header ul > li:not(:last-child) a:hover{
      color: #F8AC54;
  }
  .homeimage  img{
    height: 100vh;
    width: 104%;
    background-color: #1f2021;
    background-size: cover;
    position: relative;
    top: -122px;
    left: -8px;
  }
  .homeimage .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 104%;
    height: 86.9%;
    background-color: rgb(0 0 0 / 26%);
    z-index: 1;
  }
  .slidetwo {
      display: flex;
      margin-top: -116px;
  }
  .slidetwo img {
    width: 33%;
    height: 44%;
    position: absolute;
    left: 56%;
    margin-top: 60px;
  }
  .slidetwo .scan {
    margin-left: 23px;
    margin-top: 10px;
  }
  .slidetwo .scan h1 {
     font-size: 49px;
     color: #1584a9;
     font-family: cursive;
  }
  .slidetwo .scan pre {
    font-size: 25px;
    font-family: cursive;
  }
  .slidetwo a {
    font-size: 25px;
    margin-left:208px;
    background-color:#1584a9;
    border-radius: 36px;
    padding: 9px 18px 9px 18px;
    color: white;
    font-family: cursive;
  }
  .slidetwo a:hover {
     color: black;
  }
  .navigation {
    margin-top: 75px;
    margin-left: 66px;
    position: sticky;
    width: 713px;
  }
  .navigation nav h2 {
    font-size: 38px;
    padding-bottom: 8px;
    border-bottom: 4px solid #cececa;
    font-family: cursive;
  }
  .navigation nav ul {
    padding-bottom: 32px;
  }
  .navigation nav ul >li {
    padding-bottom: 52px;
  }
  .navigation nav ul > li > a {
    font-size: 25px;
    border-bottom: 2px solid #cececa;
    padding-bottom: 22px;
    color: #1584a9;
    font-family: cursive;
  }
  .navigation nav ul > li > a:hover {
    border-bottom: 4px solid #F8AC54;
    color: black;
  }
  .description {
    display: flex;
    justify-content: space-between;
  }
  .all {
        margin-top: 167px;
        margin-left: 112px;
        width: 1022px;
      }
  .all  ol {
    list-style-type: disc;
    font-size: 27px;
    font-family: cursive;
  }
  .all  h1 {
    padding-left: 3px;
    font-size: 39px;
    color: #1584a9;
    font-family: cursive;
  }
  .all  p{
    font-size: 27px;
    font-family: cursive;
  }
.all a {
    font-size: 23px;
    margin-left: 260px;
    color: #1584a9;
    font-family: cursive;
}
.all a:hover {
    border: 2px solid #1584a9;
    border-radius: 7px;
    padding: 6px;
}
.feedback {
    margin-left: 240px;
    font-family: cursive;

}
.feedback h1 {
    font-size: 42px;
    background-color: #1584a9;
    color: white;
    width: 250px;
    padding: 8px 15px 8px 15px;
    border-radius: 23px;
    position: relative;
}
.feedback .box {
    border: 3px solid black;
    border-radius: 32px;
    width: 1126px;
    height: 240px;
    margin-top: -59px;
    margin-left: -60px;
    padding-left: 45px;
    background-color: whitesmoke;
    opacity: 2.2;
}
.feedback .box h2 {
    font-size: 42px;
    color: #1584a9;
}
.feedback .box input {
    font-size: 33px;
    height: 66px;
    border-radius: 30px;
    padding: 5px 45px 5px 45px;
    background-color: lightgray;
    opacity: 0.6;
    border: none;
    outline: 0;
}
.feedback .box .btn {
    font-size: 33px;
    background-color: #1584a9;
    color: white;
    width: 152px;
    padding: 8px 0px 8px 7px;
    border-radius: 42px;
    border: none;
    margin-left: 206px;
    font-family: cursive;
}
.feedback .box .btn a{
    color: white;
}
.feedback .box .btn a:hover {
    color: black;
}
.footer {
  width: 104%;
  padding-top: 0px;
  padding-bottom: 10px;
  background-image: url(../photo_5778456387838393018_y.jpg);
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
  margin-top: 81px;
  margin-bottom: -11px;
  font-family: cursive;
  margin-left: -8px;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.footer .container {
  position: relative;
  padding: 49px;
}
.footer .btn  {
  margin-top: 6px;
  margin-left: -8px;
  border-radius: 18px;
  padding: 7px 11px 7px 11px;
  border: none;
  background-color: #1584a9;
}
.footer .btn a {
  color: white;
}
.footer p:not(.copyright) {
  padding: 20px;
  font-size: 31px;
  width: fit-content;
  margin: 20px auto;
}
.footer .social-icons {
  margin-top: 43px;
}
.footer .social-icons i {
  padding: 10px 15px;
  color: #1584a9;
  font-size: 27px;
  width: 71px;
}
.footer .copyright {
  margin-top: 60px;
}
.footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
.footer .btn a:hover {
  color:black;
}