.body {
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-image: url(../pics/Untitled-2\ [Recovered].jpg);
    background-size:cover ;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.box{
    display: flex;
    width: 528px;
    height: 630px;
    position: absolute;
    top: 58px;
    left: 490px;
    text-align: center;
    border: 0.5px solid #fff;
    border-radius: 37px;
    box-shadow: 0px 0px 0px 0px white;
    background-color: #0000000f;

}
.container img{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}
form {
    position: absolute;
    left: 27px;
    top: 104px;
}
.box h2{
    font-size: 48px;
    color: #4f6396f7;
    margin-bottom: 52px;
    position: relative;
    margin-left: 98px;
    margin-top: 27px;
    left: 92px;
    font-family: arial;
}
::placeholder {
    color: white;
    font-size: 20px;
}
.box .input_feild{
    width: 392px;
    height: 46px;
    background-color: #0000000f;
    margin: 15px 32px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 35px;
    padding: 15px;
}
.input_feild input{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 15px 15px;
    font-size: 26px;

}
.input_feild i{
    margin-left: 15px;
    color: #4f6396f7;
    font-size: 25px;
}
form p{
    text-align: left;
    margin-left: 44px;
    margin-top: -10px;
}
form p a{
    color: #424d6a;
    font-size: 25px;
    text-decoration: underline;

}
 .btn{
    position: absolute;
    width: 265px;
    height: 64px;
    background-color: #4f6396cf;
    color: white;
    font-size: 28px;
    padding: 14px;
    margin: 58px;
    border: none;
    outline: 0;
    border-radius: 25px;
    font-weight: bold;
    font-family: arial;
    left: 36%;
    top: 56%;
}
.btn a{
    text-decoration: none;
    color: white;
    padding: 60px;
}
.btn a:hover{
    color: #F8AC54;
}