
.container{
    background-color: #031427fa;
    background-size:cover ;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.box{
    display: flex;
    background-color: #00000000;
    width: 666px;
    height: 630px;
    position: absolute;
    top: 30px;
    left: 450px;
    text-align: center;
    border: 17px solid #0000003d;
    border-radius: 37px;
    box-shadow: 10px 10px 10px 10px black;
}
.container img{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}
form {
    position: absolute;
    left: 63px;
    top: 104px;
}
.box h2{
    font-size: 60px;
    color: #4f6396f7;
    margin-bottom: 52px;
    position: relative;
    margin-left: 135px;
    margin-top: 9px;
    left: 92px;
}
.box .input_feild{
    background-color: #0000003d;
    margin: 15px 32px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 35px;
    padding: 15px;
}
.input_feild input{
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 15px 15px;
    font-size: 30px;

}
.input_feild i{
    margin-left: 15px;
    color: #4f6396f7;
    font-size: 25px;
}
form p{
    text-align: left;
    margin-left: 32px;
}
form p a{
    text-decoration: none;
    color: #4f6396f7 ;
    font-size: 30px;

}
form .btn{
    background-color: #4f6396f7;
    color: white;
    font-size: 30px;
    padding: 30px;
    margin: 60px;
    border: none;
    outline: 0;
    border-radius: 40px;
    font-weight: bold;
}
.btn a{
    text-decoration: none;
    color: white;
    padding: 60px;
}
.btn a:hover{
    color: #F8AC54;
}