.signup{
    color: #F8AC54;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align:left;
    position: relative;
    padding-top: 1px;
    padding-left: 110px;
    margin-left: 130px;
    margin-top: -18px;
}
.username,.email,.phone,.password,.confirm{
    color: #818181;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    border: 9px solid white;
    margin-left: 124px;
    font-size: 35px;
    margin-bottom: 27px;
}
input {
    border: none;
    font-size: 26px;
    padding: 13px;
    outline: 0;
}
input:hover {
    border: none;
    outline: 0;
}
.img{
    position: absolute;
    right: -62px;
    width: 58%;
    height: 53%;
    padding-top: 0px;
    top: 0;
}
.img img {
    width: 93%;
    height: 194%;
    position: absolute;
    top: 0;
}
.button {
    background-color: #1E548A;
    font-size: 30px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 171px;
    width: 266px;
    height: 70px;
}
.button a {
    text-decoration: none;
    padding: 10px;
    font-size: 47px;
    color: white;
}
.button a:hover {
    color: #F8AC54;
}
.form{
    display: flex;
}
form {
    margin-left: 60px;
}
.all{
    position: absolute;
    /* background-color: #697eb5; */
    left: 30px;
    height: 644px;
    left: 0;
    width: 566px;
    background-image: url(p2.jpg);
    width: 47%;
    top: 0;
    height: 103%;
}
