body {
    background-color: #031427fa;
}
.signup{
    color: #4f6396f7;
    font-family: cursive;
    font-size: 31px;
    font-weight: bold;
    /* text-align: center; */
    position: relative;
    padding-top: 1px;
    padding-left: 110px;
    margin-left: 124px;
    margin-top: -31px;
}
.username,.email,.phone,.password,.confirm{
    font-family: cursive;
    border-radius: 30px;
   padding: 8px;
    margin-left: 124px;
    font-size: 35px;
    margin-bottom: 27px;
    height: 41px;
    background-color: #0000003d;
}
i {
    font-size: 23px;
    position: absolute;
    margin-left: -42px;
    margin-top: 8px;
    color: #4f6396f7;
}
input {
    border: none;
    font-size: 26px;
    padding: 13px;
    outline: 0;
    height: 41px;
    background-color: transparent;
}
input:hover {
    border: none;
    outline: 0;
}
.img{
    position: absolute;
    right: -62px;
    width: 58%;
    height: 53%;
    padding-top: 0px;
    top: 0;
}
.img img {
    width: 93%;
    height: 194%;
    position: absolute;
    top: 0;
}
.button {
    background-color: #4f6396f7;
    font-size: 30px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 171px;
    width: 266px;
    height: 70px;
}
.button a {
    font-family: cursive;
    text-decoration: none;
    padding: 10px;
    font-size: 31px;
    color: white;
}
.button a:hover {
    color: #F8AC54;
}
.form{
    display: flex;
    position: absolute;
    left: -28px;
}
form {
    margin-left: 60px;
}
.all{
    font-family: cursive;
    position: absolute;
    top: 37px;
    height: 88%;
    background-color: #00000000;
    width: 632px;
    left: 462px;
    border: 17px solid #0000003d;
    border-radius: 37px;
    box-shadow: 10px 10px 10px 10px black;
}
