body {
    background-image: url(../vivid-blurred-colorful-wallpaper-background_58702-3798.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.signup{
    color: #4f6396f7;
    font-family: arial;
    font-size: 30px;
    /* font-weight: bold; */
    /* text-align: center; */
    position: relative;
    padding-top: 15px;
    padding-left: 74px;
    margin-left: 107px;
    margin-top: -31px;
    
}
.username,.email,.phone,.password,.confirm{
    border-radius: 21px;
   padding: 8px;
    margin-left: 124px;
    font-size: 35px;
    margin-bottom: 27px;
    height: 41px;
    background-color: #0000000f;
    font-family: Arial, Helvetica, sans-serif;
}
i {
    font-size: 23px;
    position: absolute;
    margin-left: -42px;
    margin-top: 8px;
    color: #4f6396f7;
}
input {
    border: none;
    font-size: 24px;
    padding: 13px;
    outline: 0;
    height: 41px;
    background-color: transparent;
    font-family: unset;
}
input:hover {
    border: none;
    outline: 0;
}
.img{
    position: absolute;
    right: -62px;
    width: 58%;
    height: 53%;
    padding-top: 0px;
    top: 0;
}
.img img {
    width: 93%;
    height: 194%;
    position: absolute;
    top: 0;
}
.button {
    background-color: #4f6396f7;
    font-size: 30px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 171px;
    width: 227px;
    height: 63px;
    margin-top: 10px;
}
.button a {
    font-family: arial;
    text-decoration: none;
    font-size: 31px;
    color: white;
}
.button a:hover {
    color: #F8AC54;
}
.form{
    display: flex;
    position: absolute;
    left: -87px;
}
form {
    margin-left: 60px;
}
.all{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 37px;
    height: 88%;
    width: 528px;
    left: 499px;
    border: 0.5px solid #fff;
    border-radius: 37px;
    box-shadow: 0px 0px 0px 0px white;
    background-color: #0000000f;
}
